---
import { getCollection } from "astro:content";

import Link from "../../components/Link.astro";
import Utan from "../../components/Utan.astro";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../dates";

const allBlogPosts = await getCollection("blog");
---

<Layout title="^utan blog">
  <h1 class="mb-8 text-4xl">
    <Utan>blog archive</Utan>
  </h1>

  <ul class="flex flex-col gap-4">
    {
      allBlogPosts.map((post) => (
        <li class="flex flex-col gap-2 md:flex-row">
          <div
            class="text-nord-3"
            transition:name={post.data.title + post.data.publishDate}
          >
            {formatDate(post.data.publishDate)}
          </div>

          <Link url={`/blog/${post.slug}`} transition:name={post.data.title}>
            {post.data.title}
          </Link>
        </li>
      ))
    }
  </ul>
</Layout>

<style></style>
