---
import Link from "../components/Link.astro";
import Prose from "../components/Prose.astro";
import Utan from "../components/Utan.astro";
import UtanLogo from "../components/UtanLogo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="^utan about" pageType="blog">
  <Prose>
    <h1>
      About
      <Utan>
        <UtanLogo />
      </Utan>
    </h1>

    <p>
      ^[utan]* is meant to be a place free from the shackles of work, making
      money and products. This place aims to be both <Link
        url="https://en.wikipedia.org/wiki/Gratis_versus_libre"
      >
        gratis and libre
      </Link>, free as in free speech and free as in free beer.
    </p>

    <p>
      We are tired of the constant pressure to be productive, to be creative, to
      hustle. Longing for a simpler time in the cradle of the Internet. A time
      when the web was a place for exploration, for learning, for fun. A time
      when the web was a place for <em>people</em>.
    </p>

    <p>
      We are not here to make money, we are not here to make products, we are
      not here to make content. We are here to make <em>experiences</em>.
    </p>

    <p>Things that we like:</p>

    <ul class="text-lg">
      <li>Privacy - The right to be left alone</li>
      <li>
        Accessibility - The right to be included and to be able to participate
        in society
      </li>
      <li>
        User Experience - The right to be treated with respect and dignity
      </li>
    </ul>

    <p>
      We make no claim to be perfect, consistent or even good. We are just
      trying to do our best and we hope you will join us on this journey.
    </p>

    <Utan>
      <UtanLogo />
    </Utan>
  </Prose>
</Layout>
