---
import Card from "../components/Card.astro";
import Prose from "../components/Prose.astro";
import TextFigure from "../components/TextFigure.astro";
import Utan from "../components/Utan.astro";
import UtanLogo from "../components/UtanLogo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="^utan blog" pageType="start">
  <section class="mb-16">
    <h1
      class="group mb-8 font-mono text-3xl font-bold lg:max-w-prose"
      style="max-inline-size: 40ch;text-wrap: pretty;"
    >
      <UtanLogo />
       is a collective of people interested in <span
        class="transition-colors duration-300 group-hover:text-cyan-400 dark:group-hover:text-cyan-300"
        >accessibility</span
      >, <span
        class="transition-colors duration-300 group-hover:text-fuchsia-400 dark:group-hover:text-fuchsia-300"
        >privacy</span
      > and <span
        class="transition-colors duration-300 group-hover:text-yellow-400 dark:group-hover:text-yellow-300"
        >user experience</span
      >.
    </h1>
    <div class="prose prose-lg prose-slate dark:prose-invert">
      <p>
        We are a group of people who want to make the web a better place. We are
        not a company, we are not a startup, we are not a non-profit. We are
        just a group of people who want to make the web a better place.
      </p>
    </div>
  </section>

  <div class="mb-12 grid gap-4 lg:gap-8 xl:grid-cols-3">
    <Card>
      <Prose>
        <h3>Starting at the beginning</h3>
        <p>
          The caret (<Utan>^</Utan>) is not just a marker for insertion or the
          start of a string in regex, it heralds the onset of creation and the
          birth of new concepts.
        </p>
      </Prose>
    </Card>

    <Card>
      <Prose>
        <h3>Embracing Minimalism</h3>
        <p>
          Merging the Swedish <Utan>[utan]</Utan> for 'without' with the Latin
          root 'careō', 'utan' reflects a philosophy of simplicity, focusing on
          the essential and discarding the superfluous. It also makes for fun
          prefixes for projects.
        </p>
      </Prose>
    </Card>

    <Card>
      <Prose>
        <h3>Symbol of Possibility</h3>
        <p>
          The asterisk (<span class="font-mono font-bold">*</span>) is a
          wildcard in regex, standing for the boundless and the particular,
          embodying the brand's reach across the vast spectrum of high and low,
          everything and nothing.
        </p>
      </Prose>
    </Card>
  </div>

  <section class="mb-12">
    <header class="mb-4">
      <Prose>
        <h2>Logo</h2>
      </Prose>
    </header>

    <div class="flex flex-col gap-8">
      <Card>
        <TextFigure
          figureText="^[utan]*"
          caption="Prefered were possible, either as SVG or just text set in any monospaced font."
        />
      </Card>

      <Card>
        <TextFigure
          figureText="^"
          caption="The shortest form, useful for prefixing things."
        />
      </Card>
      <Card>
        <TextFigure
          figureText="utan"
          caption="If special characters are not allowed this form is acceptable."
        />
      </Card>
      <Card>
        <TextFigure
          figureText="tak utan stjärnor"
          caption="A pronounceable version in Swedish."
        />
      </Card>
      <Card>
        <TextFigure
          figureText="roof without stars"
          caption="A pronounceable version in English."
        />
      </Card>
      <Card>
        <TextFigure
          figureText="caret without splat"
          caption="A pronounceable version in English."
        />
      </Card>
      <Card>
        <TextFigure
          figureText="^/member"
          caption="A member of ^[utan]* may stylize their username like so."
        />
      </Card>
    </div>
  </section>
</Layout>
