---
// * import Link from "./Link.astro";

type Props = {
  tags: string[];
};

const { tags } = Astro.props;
// * <Link url={`/blog/${tag}`}>{tag}</Link>
---

{
  tags.length > 0 ? (
    <div>
      Tagged with:
      <ul class="inline-flex flex-wrap gap-2">
        {tags.map((tag) => (
          <li class="text-sm">{tag}</li>
        ))}
      </ul>
    </div>
  ) : null
}
