---
import Utan from "./Utan.astro";

type Props = {
  figureText: string;
  caption: string;
};

const { caption, figureText } = Astro.props;
---

<figure>
  <div
    class="grid place-content-center rounded px-4 py-20 text-center text-4xl"
  >
    <Utan>{figureText}</Utan>
  </div>
  <figcaption>
    {caption}
  </figcaption>
</figure>
