---
// Supports weights 300-700
import "@fontsource-variable/cormorant";

import { ViewTransitions } from "astro:transitions";

import Utan from "../components/Utan.astro";
import Prose from "../components/Prose.astro";
import ContactEmail from "../components/ContactEmail.astro";
import UtanLogo from "../components/UtanLogo.astro";
import Link from "../components/Link.astro";

interface Props {
  title: string;
  pageType: "start" | "blog";
}

const { title, pageType } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="flex min-h-screen flex-col bg-stone-50 font-serif text-slate-800 dark:bg-stone-950 dark:font-medium dark:text-slate-100"
  >
    <main class="mb-24">
      <header class="mb-12 flex justify-between px-4 py-2">
        <h1 class="text-xl">
          <a aria-label="utan" class="group" href="/">
            <Utan>
              <span
                class="transition-colors duration-[1s] group-hover:text-slate-500 dark:group-hover:text-slate-300"
                >^[</span
              >
              <span
                class="transition-colors duration-[1s] group-hover:text-cyan-400 dark:group-hover:text-cyan-300"
                >u</span
              >
              <span
                class="transition-colors duration-[1s] group-hover:text-fuchsia-400 dark:group-hover:text-fuchsia-300"
                >t</span
              >
              <span
                class="transition-colors duration-[1s] group-hover:text-yellow-400 dark:group-hover:text-yellow-300"
                >a</span
              >
              <span
                class="transition-colors duration-[1s] group-hover:text-black dark:group-hover:text-neutral-300"
                >n</span
              >
              <span
                class="transition-colors duration-[1s] group-hover:text-slate-500 dark:group-hover:text-slate-300"
                >]*</span
              >
            </Utan>
          </a>
        </h1>
        <div class="flex gap-2">
          <Link url="/blog">
            <Utan>^blog</Utan>
          </Link>
          <Link url="/about">
            <Utan>about</Utan>
          </Link>
        </div>
      </header>
      <section
        class={`container mx-auto 
        ${pageType === "start" ? "px-12" : "px-4 lg:max-w-prose"}
        `}
      >
        <slot />
      </section>
    </main>
    <footer class="mt-auto">
      <div class="container mx-auto px-4 py-2">
        <Prose fake>
          <h2>Contact</h2>

          <ContactEmail />

          <p class="mt-8">
            Code is licensed as MIT and Content is licensed as CC BY-NC-SA 4.0
            &copy;{" "}<span>{new Date().getFullYear()}</span>
            {" "}<span><UtanLogo />.</span>
          </p>
        </Prose>
      </div>
    </footer>
    <div class="mt-24 flex">
      <div
        class="h-4 w-full bg-gradient-to-r from-cyan-400 to-transparent dark:bg-gradient-to-l"
      >
      </div>
      <div
        class="h-4 w-full bg-gradient-to-r from-fuchsia-400 to-transparent dark:bg-gradient-to-l"
      >
      </div>
      <div
        class="h-4 w-full bg-gradient-to-r from-yellow-400 to-transparent dark:bg-gradient-to-l"
      >
      </div>
      <div
        class="h-4 w-full bg-gradient-to-r from-black to-transparent dark:bg-gradient-to-l"
      >
      </div>
    </div>
    <style is:global></style>
  </body>
</html>
