---
import { ViewTransitions } from "astro:transitions";

import Utan from "../components/Utan.astro";
import Prose from "../components/Prose.astro";
import ContactEmail from "../components/ContactEmail.astro";
import UtanLogo from "../components/UtanLogo.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="mb-24 bg-nord-6 text-nord-0 transition-colors duration-300 dark:bg-nord-0 dark:text-nord-6"
  >
    <main class="mb-24">
      <header class="mb-4 flex justify-between px-4 py-2">
        <h1 class="text-xl">
          <a class="transition-colors dark:hover:text-nord-8" href="/">
            <Utan>^[utan]*</Utan>
          </a>
        </h1>
        <div class="flex gap-2">
          <a
            href="/blog"
            class="transition-colors hover:text-nord-8 dark:text-nord-6"
          >
            <Utan>^blog</Utan>
          </a>
          <a
            href="/about"
            class="transition-colors hover:text-nord-8 dark:text-nord-6"
          >
            <Utan>about</Utan>
          </a>
        </div>
      </header>
      <section class="container mx-auto px-4">
        <slot />
      </section>
    </main>
    <footer>
      <div class="container mx-auto px-4 py-2">
        <Prose>
          <h2>Contact</h2>

          <ContactEmail />

          <p class="mt-8 text-nord-3 dark:text-nord-4">
            Code is licensed as MIT and Content is licensed as CC BY-NC-SA 4.0
            &copy;
            {new Date().getFullYear()}{" "}
            <UtanLogo />.
          </p>
        </Prose>
      </div>
    </footer>
    <style is:global></style>
  </body>
</html>
