---
import TagList from "../components/TagList.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <header class="mb-2">
    <h1 class="text-nord-10 dark:text-nord-7 mb-1 font-mono text-2xl font-bold">
      {frontmatter.title}
    </h1>
    <p>
      Written by <span class="text-nord-10 font-mono font-bold">
        {frontmatter.author}
      </span>
    </p>

    <TagList tags={frontmatter.tags} />

    <div
      class="bg-nord-4 text-nord-1 dark:bg-nord-1 dark:text-nord-6 mb-8 mt-8 grid aspect-video w-full max-w-3xl place-content-center
      rounded-lg shadow"
    >
      {frontmatter.image ? "image" : "no-image"}
    </div>

    <div class="prose-nord prose prose-sm dark:prose-invert">
      <slot />
    </div>
  </header>
</Layout>
